.header-section {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.logo {
    background: #ffffff;
    max-height: 100%;
}

.navbar {
    background: transparent !important;
}

.navbar-default{
    margin-bottom: 0;
    border: none;
}
.nav-link {
    font-weight: 700;
}

.nav-link img{
    height: 26px;
}